<div class="br-rowItem br-rowHeader">
    <div class="br-controlLeft br-inputContainer" style="width:25px;">
        &nbsp;
    </div>
    <div class="br-controlLeft br-inputContainer" style="width:85px;">
        ${dict.Type}
    </div>
    <div class="br-controlLeft br-inputContainer" style="width:30px;">
        ${dict.Lvl}
    </div>
    <div class="br-controlRight" style="width:30px;">
        &nbsp;
    </div>
    <div class="br-controlStretch br-inputContainer" style="width:calc( 100% - 170px )">
        ${dict.ItemDescription}
    </div>
    <div style="clear:both"></div>
</div>