/* Feature control base */
.br-inputContainer {
    padding: 4px 4px 3px 4px;
}

.br-displayContainer {
    box-sizing: border-box;
}

.br-descriptionOpen .br-displayContainer {
}

.br-controlsDisabled .br-controlNode {
    display: none;
}

.br-emptyClosedList.br-controlNode {
    display: none;
}

.br-addControl {
    border: 1px dotted #bbb;
    margin: 4px 0 0 0;
    border-radius:4px;
}

.br-marginContainer {
    margin : 4px 0;
}