/* Simple globals */
.br-blue {
    color: #1e88e5;
}

.br-red {
    color: #b00;
}

.br-gold {
    color: orange;
}

.br-green {
    color: #01bd5c;
}

.br-gray {
    color: #888;
}

.br-active {
    cursor: pointer;
}

.br-floatLeft {
    float: left;
    box-sizing: border-box;
}

.br-floatRight {
    float: right;
    box-sizing: border-box;
}

.br-indented {
    padding-left: 18px;
}
