/* Feature pane base */
.br-featurePane {
    background-color: #fefefe;
    border: 1px solid silver;
    box-sizing: border-box;
    display: block;
    margin: 6px 4px;
    min-height: 150px;
    position: relative;
    transition: border-color 300ms ease 0s;
    width: 100%;
}

.br-featureContainer {
    padding: 4px;
}

.br-paneHighlighted {
    border-color: orange;
    background-color: white;
    box-shadow: 0 0 3px orange;
}

.br-paneHighlighted .br-featureTitle {
    background-color: #c00;
    color: white;
}

.br-paneHighlighted .br-featureTitle i
{
    color: white;
}

.br-zoomer {
    position: fixed;
    transition: top 300ms, left 300ms, width 300ms, height 300ms;
    border: 2px solid #888;
}

.br-featurePaneMinimized {
    width: 0;
    height: 0;
}

.br-featurePaneMinimized .br-field {
    display: none;
}

.br-featureTitle {
    background-color: #e4e4e4;
    color: black;
    font-family: Iceberg, sans-serif;
    padding: 6px;
    cursor: pointer;
    transition: background-color 300ms;
}

.br-featureTitle i {
    color: #c00;
}

i.br-minimizeButton {
    float: right;
    color: #666;
}

i.br-minimizeButton:hover {
    color: gold;
}

/* Dock icon */
.br-dockIcon {
    border-radius: 5px;
    box-sizing: border-box;
    color: #fafafa;
    cursor: pointer;
    font-size: 19px;
    height: 40px;
    margin: 5px 0 5px 8px;
    padding: 8px;
    text-align: center;
    transition: color 300ms, border 300ms;
    width: 40px;
    background-color: #222;
    border: 2px solid #666;
}

.br-literalDockIcon {
    display: inline-block;
    font-size: 32px;
    line-height: 19px;
    margin: 0 0 0 -4px;
}

.br-dockIconMaximized {
    background-color: transparent;
    border: 2px solid transparent;
}

.br-dockIcon:hover {
    color: gold;
    border-color: gold;
}
