@import "brikoleur.css";
@import "../dojo/dijit/themes/tundra/tundra.css";
@import "../font-awesome/css/font-awesome.min.css";

/* Layout */
.br-controller {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fafafa;
}

.br-header {
    font-family: Abel, sans-serif;
    font-size: 18px;
    color: #333;
    height: 40px;
    padding-left: 66px !important;
}

.br-header-left {
    position:absolute;
    top: 0;
    left: 0;
    width: 56px;
    bottom: 0;
    background-color: black;
    border-right: 4px solid #a00;
}

.br-header-bg {
    background-color: black;
    opacity: 0.5;
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.tundra .br-headerButton .dijitButtonNode {
    background: #444;
    color: silver;
    border-color: black;
    border-radius: 3px;
}

.tundra .dijitMenuItem {
    font-family: Abel, sans-serif;
}

.br-headerContent {
    position: absolute;
    top: 0;
    left: 60px;
    right: 0;
    bottom: 0;
    z-index : 999;
    overflow: hidden;
}

.br-headerLink {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    color: silver;
    text-decoration: none;
    font-size: 24px;
    vertical-align: -3px;
}

.br-headerLink:hover {
    text-decoration: underline;
}

.br-jujuField {
    color: #c00;
    font-family: Iceberg, sans-serif;
    padding: 8px;
    font-size: 20px;
    text-align: right;
}

.tundra .br-jujuField .dijitTextBox {
    width: 40px;
    border: 1px solid #c00;
}

.br-sidebar {
    background-color: #444;
    color: #fafafa;
    width: 56px;
    border-right: 4px solid #c00;
}

.br-footer {
    background-color: #666;
    color: #fafafa;
    font-family: Abel, sans-serif;
    font-size: 15px;
    text-align:right;
}

.br-nameContainer {
    height: 40px;
    overflow: hidden;
}

.br-namePane {
    width:100%;
}

.br-characterName {
    font-size: 24px;
    font-family: Iceberg, sans-serif;
    margin: 12px 4px;
    width: calc( 100% - 8px );
    box-sizing: border-box;
}

.br-characterName.dijitDisabled {
    border: none;
    color: #c00;
}

/* Colors */
.br-blue {
    color: #538aff;
}

.br-red {
    color: #b00;
}

.br-gold {
    color: orange;
}

.br-gray {
    color: #888;
}

.br-active {
    cursor: pointer;
}

/* Feature pane */
.br-featurePane {
    background-color: #fefefe;
    border: 1px solid silver;
    box-sizing: border-box;
    display: block;
    margin: 6px 4px;
    min-height: 150px;
    position: relative;
    transition: border-color 300ms ease 0s;
    width: 100%;
}

.br-featureContainer {
    padding: 4px;
}

.br-flashPane {
    border-color: orange;
    background-color: white;
    box-shadow: 0 0 3px orange;
}

.br-flashPane .br-featureTitle {
    background-color: #c00;
    color: white;
}

.br-flashPane .br-featureTitle i
{
    color: white;
}

.br-zoomer {
    position: fixed;
    transition: top 300ms, left 300ms, width 300ms, height 300ms;
    border: 2px solid #888;
}

.br-featurePaneMinimized {
    width: 0;
    height: 0;
}

.br-featurePaneMinimized .br-field {
    display: none;
}

.br-featureTitle {
    background-color: #e4e4e4;
    color: black;
    font-family: Iceberg, sans-serif;
    padding: 6px;
    cursor: pointer;
    transition: background-color 300ms;
}

.br-featureTitle i {
    color: #c00;
}

i.br-minimizeButton {
    float: right;
    color: #666;
}

i.br-minimizeButton:hover {
    color: gold;
}

/* Dock icon */
.br-dockIcon {
    border-radius: 5px;
    box-sizing: border-box;
    color: #fafafa;
    cursor: pointer;
    font-size: 19px;
    height: 40px;
    margin: 5px 0 5px 8px;
    padding: 8px;
    text-align: center;
    transition: color 300ms, border: 300ms;
    width: 40px;
    background-color: #222;
    border: 2px solid #666;
}

.br-dockIconMaximized {
    background-color: transparent;
    border: 2px solid transparent;
}

.br-dockIcon:hover {
    color: gold;
    border-color: gold;
}

/* Trees and controls */
.br-controlLeft {
    float: left;
    box-sizing: border-box;
}
.br-controlStretch {
    float: right;
    box-sizing: border-box;
}
.br-controlRight {
    float: right;
    box-sizing: border-box;
}
.br-inputContainer {
    padding: 6px 4px 3px 4px;
}

.br-controlsDisabled .br-controlNode {
    display: none;
}

.br-indented {
    padding-left: 18px;
}

.br-rowItem {
    border: 1px solid #e4e4e4;
    border-top:none;
}

.br-rowItem:first-of-type {
    border-top: 1px solid #e4e4e4;
}

.br-emptyClosedList.br-controlNode {
    display: none;
}

.br-addControl {
    border: 1px dashed #bbb;
}

/* Powers */
.br-maxPowers .br-controlNode {
    display: none;
}

.br-subPaneTitle {
    font-family: Iceberg, sans-serif;
}

/* Inventory */

/* Field */
.br-fieldTitle {
    width: 130px;
    float: left;
    box-sizing: border-box;
    padding: 4px;
    text-align: right;
    font-family: Iceberg, sans-serif;
}

.br-fieldControl {
    box-sizing: border-box;
    float: right;
    padding: 4px;
    width: calc(100% - 130px);
}

.br-fullWidth {
    width: 100%;
}

.br-rowHeader {
    color: gray;
    border: none !important;
}

/* dynamic grid */
.br-dynamicGridColumn {
    float: left;
    box-sizing: border-box;
    padding: 4px;
}

.br-statField {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-image: none !important;
    background-color: white;
}
/* Numbers pane */
.br-floatLeft, .br-floatRight {
    width: 50%;
    box-sizing: border-box;
}

.br-floatLeft {
    float: left;
}

.br-floatRight {
    float: right;
}

.br-stamina .dijitTextBoxDisabled {
    color: black !important;
}


/* Gear pane */
.br-buttonSpacer {
    height: 40px;
}

.br-wideAddButton {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.br-wideAddButton .dijitButtonNode {
    width: calc( 100% - 0.4em );
}

.br-typeSelect {
    display: inline-block;
    width: 75px;
}

/* Buttons */
.br-smallButton .dijitButtonNode {
    background: none !important;
    border: none;
    border-radius: 4px;
}

.tundra .br-smallButton.dijitButtonHover .dijitButtonNode {
    background: none;
}

.dijitButtonDisabled .br-red, .dijitButtonDisabled .br-blue {
    color: #ccc;
}

/* Dijits */
.br-statField   .dijitInputInner {
    padding-top: 8px !important;
    text-align: center;
}

.tundra .dijitNumberTextBox {
    text-align: center;
}


.tundra .dijitSelect .dijitButtonContents, .tundra .dijitSelect, .tundra .dijitTextBox {
    border-color: #e4e4e4;
    background: none !important;
}

.tundra .dijitSelect .dijitButtonContents, .tundra .dijitTextBox .dijitButtonNode {
    border-color: #e4e4e4;
}

.tundra .dijitTextBoxFocused {
    border-color: #3a5cac;
    background-color: white !important;
}

.dijitTextBoxFocused .dijitInputContainer {
    background-color: transparent !important;
}

.dijitTextArea {
    font-family: Abel, sans-serif;
}

