@import "brikoleur.css";
@import "../dojo/dijit/themes/tundra/tundra.css";
@import "../font-awesome/css/font-awesome.min.css";

/* Splash */

.br-splash {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background-color: #fafafa;
    overflow: hidden;
    transition: opacity 300ms;
}

.br-splashLogoWrapper {
    position: relative;
    margin: -750px;
}

.br-splashLogoNode {
    position: relative;
    top: 300px;
    margin: auto;
    width: 1500px;
    height: 1500px;
    overflow: hidden;
    transform: scale(1);
    -webkit-transform: scale(1);
    transition: transform 300ms;
}

.br-splashLogoL {
    position: absolute;
    top: 650px;
    left: -200px;
    font-family: 'Stalinist One', sans-serif;
    font-size: 200px;
    text-transform: uppercase;
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
}

.br-splashLogoBriko {
    position: absolute;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

.br-splashLogoLeur {
    position: absolute;
    top: 650px;
    left: 460px;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    color: #c00;
}

.br-splashNameInputNode {
    font-family: Old Standard TT,serif;
    left: 525px;
    position: absolute;
    top: 450px;
    transform:rotate(-20deg);
    -webkit-transform:rotate(-20deg);
}

.br-splashArchetypeSelectNode {
    font-family: Iceberg,sans-serif;
    left: 850px;
    position: absolute;
    top: 650px;
    transform:rotate(-20deg);
    -webkit-transform:rotate(-20deg);
}

.br-splashCharacterInput {
    font-family: Old Standard TT, serif;
    font-size: 80px;
    font-style: italic !important;
    width: 800px;
}

.br-splashCreateButtonNode {
    position: absolute;
    font-size: 40px;
    top: 700px;
    left: 620px;
    font-family: Dosis, sans-serif;
}

.br-lastModified {
    color: gray;
    font-size: 48px;
    height: 50px;
    left: -250px;
    overflow: visible;
    position: absolute;
    top: 980px;
    transform: rotate(70deg);
    -webkit-transform:rotate(70deg);
    width: 1200px;
}

.tundra .br-splash .br-splashCharacterInput .dijitTextBox {
    padding: 15px;
    background-color: #c00 !important;
    color: #fafafa !important;
}

.tundra .br-splash .br-splashCharacterInput {
    border: none !important;
    background-color: #c00 !important;
    color: #fafafa !important;
}

.br-splashArchetypeSelect {
    font-family: Iceberg, sans-serif;
    font-size: 60px;
}

.br-splashCreateButton {
    width: 200px;
    height: 200px;
    text-align:center;
    padding: 75px 0;
    background-color: #c00;
    border-radius: 400px;
    color: white;
    cursor: pointer;
    box-sizing: border-box;
}

.br-hideWhenLoaded {
    background-color: #c00;
}

.em-partHeadingContainer {
    position: relative;
    width: 100%;
}

.em-partNumber {
    bottom: -110px;
    color: #c00;
    font-family: Stalinist One, sans-serif;
    font-size: 275px;
    margin-left: 50px;
    margin-top: 80px;
    position: absolute;
    z-index: 1;
}

.em-partHeading {
    font-family: Stalinist One, sans-serif;
    text-transform: uppercase;
    font-size: 76px;
    position: absolute;
    bottom: -20px;
    z-index: 99;
}

.em-partHeadingSpacer {
    height: 400px;
}
.em-controlWrapper, .em-controlBackground {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    z-index:101;
}

.em-controlBackground {
    opacity: 0.5;
    background-color:  #c00; /* black; */
    z-index: 99;
}

.em-documentContent {
    font-family: Old Standard TT, serif;
    position: fixed;
    font-size: 18px;
    top: 0;
    left: 330px;
    bottom: 0;
    right: 0;
    overflow: auto;
    background-color: #c00; /* silver; */
}

.em-pageContent {
    background-color: #c00; /* #fafafa; */
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 330px;
    z-index: 1;
}

.br-hasLoaded .br-hideWhenLoaded {
    display: none;
}
/* Layout */
.br-controller {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fafafa;
}

.br-header {
    font-family: Dosis, sans-serif;
    font-size: 18px;
    color: #333;
    height: 40px;
    padding-left: 66px !important;
}

.br-header-left {
    position:absolute;
    top: 0;
    left: 0;
    width: 56px;
    bottom: 0;
    background-color: #777;
    border-right: 4px solid #f00;
}

.br-header-bg {
    background-color: black;
    opacity: 0.5;
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.br-compactLayout .br-headerContent .br-fieldLabel,
.br-compactLayout .br-headerContent a
{
    display: none;
}
.br-compactLayout .br-headerButton .dijitButtonText,
.br-compactButton .dijitButtonText
{
    width: 0;
    padding: 0;
    overflow: hidden;
}

.br-compactButton .dijitIcon, .br-compactLayout .br-headerButton .dijitIcon  {
    padding: 0 0.3em;
}

.br-splitButtonLeft .dijitIcon, .br-splitButtonRight .dijitIcon{
    padding: 0 0.6em !important;
}

.br-splitButtonLeft {
    margin-right: 0;
}

.tundra .br-splitButtonLeft .dijitButtonNode {
    border-radius: 3px 0 0 3px !important;
}

.br-splitButtonRight {
    margin-left: 0;
}

.tundra .dijitButtonNode {
    border-radius: 3px;
}

.tundra .br-splitButtonRight .dijitButtonNode {
    border-radius: 0 3px 3px 0 !important;
    border-left: none !important;
}


.tundra .br-darkButton .dijitButtonNode {
    background: #444;
    color: silver;
    border-color: black;
    border-radius: 3px;
}

.tundra .dijitMenuItem {
    font-family: Dosis, sans-serif;
}

.br-headerContent {
    position: absolute;
    top: 0;
    left: 60px;
    right: 0;
    bottom: 0;
    z-index : 999;
    overflow: hidden;
}

.br-headerLink {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    color: silver;
    text-decoration: none;
    font-size: 24px;
    vertical-align: -3px;
}

.br-headerLink:hover {
    text-decoration: underline;
}

.br-jujuField {
    color: #c00;
    font-family: Iceberg, sans-serif;
    padding: 8px;
    font-size: 20px;
    text-align: right;
    width: 150px;
}

.tundra .br-newCharacter .br-jujuField {
    color: #0c0;
}

.br-compactLayout .br-jujuField {
    width: 60px;
}

.tundra .br-jujuField .dijitTextBox {
    width: 40px;
    border: 1px solid #c00;
}

.tundra .br-newCharacter .br-jujuField .dijitTextBox {
    border: 1px solid #0c0;
}

.br-sidebar {
    background-color: #444;
    color: #fafafa;
    width: 56px;
    border-right: 4px solid #c00;
}

.br-footer {
    background-color: #666;
    color: #fafafa;
    font-family: Dosis, sans-serif;
    font-size: 15px;
    text-align:right;
}

.br-nameContainer {
    height: 48px;
    overflow: hidden;
    background-color: #c00;
}

.br-namePane {
    width:100%;
}

.br-namePaneButtons {
    width: 178px;
    padding: 6px 8px 0 0;
    text-align: right;
}

.br-namePaneInput {
    width: calc( 100% - 178px );
}

.br-compactLayout .br-namePaneButtons {
    width: 140px;
}

.br-compactLayout .br-namePaneInput {
    width: calc( 100% - 140px );
}

.br-characterName {
    font-size: 24px;
    font-family: Iceberg, sans-serif;
    margin: 8px;
    width: calc( 100% - 8px );
    box-sizing: border-box;
    font-style: italic;
    border: 1px solid #a00 !important;
    color: black;
}

.br-characterName .dijitPlaceHolder {
    color: #900;
}

.tundra .br-characterName.dijitTextBoxFocused {
    background-color: #e00 !important;
}

.br-characterName.dijitDisabled {
    border: none !important;
    color: black;
}

/* Colors */
.br-blue {
    color: #538aff;
}

.br-red {
    color: #b00;
}

.br-gold {
    color: orange;
}

.br-gray {
    color: #888;
}

.br-active {
    cursor: pointer;
}

/* Feature pane */
.br-featurePane {
    background-color: #fefefe;
    border: 1px solid silver;
    box-sizing: border-box;
    display: block;
    margin: 6px 4px;
    min-height: 150px;
    position: relative;
    transition: border-color 300ms ease 0s;
    width: 100%;
}

.br-featureContainer {
    padding: 4px;
}

.br-flashPane {
    border-color: orange;
    background-color: white;
    box-shadow: 0 0 3px orange;
}

.br-flashPane .br-featureTitle {
    background-color: #c00;
    color: white;
}

.br-flashPane .br-featureTitle i
{
    color: white;
}

.br-zoomer {
    position: fixed;
    transition: top 300ms, left 300ms, width 300ms, height 300ms;
    border: 2px solid #888;
}

.br-featurePaneMinimized {
    width: 0;
    height: 0;
}

.br-featurePaneMinimized .br-field {
    display: none;
}

.br-featureTitle {
    background-color: #e4e4e4;
    color: black;
    font-family: Iceberg, sans-serif;
    padding: 6px;
    cursor: pointer;
    transition: background-color 300ms;
}

.br-featureTitle i {
    color: #c00;
}

i.br-minimizeButton {
    float: right;
    color: #666;
}

i.br-minimizeButton:hover {
    color: gold;
}

/* Dock icon */
.br-dockIcon {
    border-radius: 5px;
    box-sizing: border-box;
    color: #fafafa;
    cursor: pointer;
    font-size: 19px;
    height: 40px;
    margin: 5px 0 5px 8px;
    padding: 8px;
    text-align: center;
    transition: color 300ms, border: 300ms;
    width: 40px;
    background-color: #222;
    border: 2px solid #666;
}

.br-dockIconMaximized {
    background-color: transparent;
    border: 2px solid transparent;
}

.br-dockIcon:hover {
    color: gold;
    border-color: gold;
}

/* Trees and controls */
.br-floatLeft {
    float: left;
    box-sizing: border-box;
}

.br-floatRight {
    float: right;
    box-sizing: border-box;
}
.br-inputContainer {
    padding: 6px 4px 3px 4px;
}

.br-displayContainer {
    box-sizing: border-box;
}

/* Description */
.br-descriptionOpen .br-displayContainer {
}

.br-controlsDisabled .br-controlNode {
    display: none;
}

a.br-manualLink {
    display: block;
    margin: 8px 0;
    text-align: right;
    color: #c00;
    font-family: Dosis, sans-serif;
}

a.br-manualLink:hover {
    color: #f00;
}

.br-indented {
    padding-left: 18px;
}

.br-rowItem {
    border: 1px solid #e4e4e4;
    border-top:none;
}

.br-emptyClosedList.br-controlNode {
    display: none;
}

.br-addControl {
    border: 1px dotted #bbb;
    margin: 4px 0 0 0;
    border-radius:4px;
}

/* Powers */
.br-maxPowers .br-controlNode {
    display: none;
}

.br-subPaneTitle {
    font-family: Iceberg, sans-serif;
}

.br-traitFeatureControl {
    display: none;
}

.br-newCharacter .br-traitFeatureControl {
    display: list-item;
}

/* Inventory */

/* Field */
.br-fieldTitle {
    width: 130px;
    float: left;
    box-sizing: border-box;
    padding: 4px;
    text-align: right;
    font-family: Iceberg, sans-serif;
}

.br-fieldControl {
    box-sizing: border-box;
    float: right;
    padding: 4px;
    width: calc(100% - 130px);
}

.br-layoutDown .br-fieldTitle,
.br-layoutDown .br-fieldControl {
    float : none;
    width: 100%;
    text-align: left;
}

.br-fullWidth {
    width: 100%;
}

.br-rowHeader {
    color: gray;
    border-bottom: 1px solid #e4e4e4;
}

/* dynamic grid */
.br-dynamicGridColumn {
    float: left;
    box-sizing: border-box;
    padding: 4px;
}

.br-statField {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-image: none !important;
    background-color: white;
}
/* Numbers pane */
.br-formLayoutLeft, .br-formLayoutRight {
    width: 50%;
    box-sizing: border-box;
}

.br-formLayoutLeft {
    float: left;
}

.br-formLayoutRight {
    float: right;
}

.br-stamina .dijitTextBoxDisabled {
    color: black !important;
}

/* Traits pane */
.br-featureItemWrapper {
    display: inline-block;
    vertical-align: -12px;
    width: 100%;
}

.br-featureDescription {
    overflow : hidden;
    height : 0;
    transition: height 200ms;
}

.br-featureDescriptionContent {
    font-family: Old Standard TT, serif;
    padding: 4px;
    box-sizing : border-box;
}

.br-featureList {
    font-family: Old Standard TT, serif;
}

/* Gear pane */
.br-buttonSpacer {
    height: 40px;
}

.br-wideAddButton {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.br-wideAddButton .dijitButtonNode {
    width: calc( 100% - 0.4em );
}

.br-typeSelect {
    display: inline-block;
    width: 75px;
}

/* Buttons */
.br-smallButton .dijitButtonNode {
    background: none !important;
    border: none;
    border-radius: 4px;
}

.tundra .br-smallButton.dijitButtonHover .dijitButtonNode {
    background: none;
}

.dijitButtonDisabled .fa, .dijitButtonDisabled .fa {
    color: #ccc !important;
}

.br-dialogButtons {
    padding : 4px 0;
    text-align: right;
}

/* Dijits */
.br-statField   .dijitInputInner {
    padding-top: 8px !important;
    text-align: center;
}

.tundra .dijitNumberTextBox {
    text-align: center;
}


.tundra .dijitSelect .dijitButtonContents, .tundra .dijitSelect, .tundra .dijitTextBox {
    border-color: #e4e4e4;
    background: none !important;
}

.tundra .dijitSelect .dijitButtonContents, .tundra .dijitTextBox .dijitButtonNode {
    border-color: #e4e4e4;
}

.tundra .dijitTextBoxFocused {
    border-color: #3a5cac;
    background-color: white !important;
}

.dijitTextBoxFocused .dijitInputContainer {
    background-color: transparent !important;
}

.dijitTextArea {
    font-family: Dosis, sans-serif;
}

