@font-face {
    font-family: 'Iceberg';
    font-style: normal;
    font-weight: 400;
    src: local('Iceberg'), local('Iceberg-regular'), url(fonts/Iceberg-regular.woff) format('woff');
}
@font-face {
    font-family: 'Old Standard TT';
    font-style: normal;
    font-weight: 400;
    src: local('Old Standard TT Regular'), local('OldStandardTT-regular'), url(fonts/OldStandardTT-regular.woff) format('woff');
}
@font-face {
    font-family: 'Old Standard TT';
    font-style: normal;
    font-weight: 700;
    src: local('Old Standard TT Bold'), local('OldStandardTT-bold'), url(fonts/OldStandardTT-bold.woff) format('woff');
}
@font-face {
    font-family: 'Old Standard TT';
    font-style: italic;
    font-weight: 400;
    src: local('Old Standard TT Italic'), local('OldStandardTT-italic'), url(fonts/OldStandardTT-italic.woff) format('woff');
}
@font-face {
    font-family: 'Stalinist One';
    font-style: normal;
    font-weight: 400;
    src: local('Stalinist One'), local('StalinistOne-regular'), url(fonts/StalinistOne-regular.woff) format('woff');
}

@font-face {
    font-family: 'Dosis';
    font-weight: 400;
    font-style: normal;
    src: url('fonts/Dosis-regular/Dosis-regular.eot');
    src: url('fonts/Dosis-regular/Dosis-regular.eot?#iefix') format('embedded-opentype'),
    local('Dosis Regular'),
    local('Dosis-regular'),
    url('fonts/Dosis-regular/Dosis-regular.woff2') format('woff2'),
    url('fonts/Dosis-regular/Dosis-regular.woff') format('woff'),
    url('fonts/Dosis-regular/Dosis-regular.ttf') format('truetype'),
    url('fonts/Dosis-regular/Dosis-regular.svg#Dosis') format('svg');
}

@font-face {
    font-family: 'Dosis';
    font-weight: 700;
    font-style: normal;
    src: url('fonts/Dosis-700/Dosis-700.eot');
    src: url('fonts/Dosis-700/Dosis-700.eot?#iefix') format('embedded-opentype'),
    local('Dosis Bold'),
    local('Dosis-700'),
    url('fonts/Dosis-700/Dosis-700.woff2') format('woff2'),
    url('fonts/Dosis-700/Dosis-700.woff') format('woff'),
    url('fonts/Dosis-700/Dosis-700.ttf') format('truetype'),
    url('fonts/Dosis-700/Dosis-700.svg#Dosis') format('svg');
}
