<div class="pr-printSheet">
  <div class="pr-printWrapper">
    <div class="pr-printPage">
      <div class="pr-nameColumn">
        <div class="pr-nameArea">
          <div data-dojo-attach-point="nameNode1" class="pr-charName"></div>
        </div>
      </div>
      <div class="pr-printColumn">
        <div data-dojo-attach-point="descriptionNode" class="pr-contentArea"></div>
        <div data-dojo-attach-point="traitsNode" class="pr-contentArea"></div>
      </div>
      <div class="pr-printColumn">
        <div data-dojo-attach-point="numbersNode" class="pr-contentArea"></div>
        <div data-dojo-attach-point="stuntsNode" class="pr-contentArea"></div>
      </div>
      <div class="pr-printColumn">
        <div data-dojo-attach-point="knacksNode" class="pr-contentArea"></div>
      </div>
    </div>
    <div class="pr-printPage pr-breakBefore">
      <div class="pr-printColumn">
        <div data-dojo-attach-point="ohunNode" class="pr-contentArea"></div>
      </div>
      <div class="pr-printColumn">
        <div data-dojo-attach-point="powersNode" class="pr-contentArea"></div>
      </div>
      <div class="pr-printColumn">
        <div data-dojo-attach-point="gearNode" class="pr-contentArea"></div>
      </div>
      <div class="pr-nameColumn">
        <div class="pr-nameArea">
          <div data-dojo-attach-point="nameNode2" class="pr-charName"></div>
        </div>
      </div>
    </div>
  </div>
</div>