<div class="br-splash">
  <div class="br-splashLogoWrapper">
    <div class="br-splashLogoNode" data-dojo-attach-point="logoNode">
      <div class="br-lastModified">${dict.LastModified} %(date)</div>
      <div class="br-splashLogoL">
        <div class="br-splashLogoBriko">briko</div>
        <div class="br-splashLogoLeur">leur</div>
      </div>
      <div data-dojo-attach-point="nameInputNode" class="br-splashNameInputNode">
      </div>
      <div data-dojo-attach-point="archetypeSelectNode" class="br-splashArchetypeSelectNode"></div>
      <div data-dojo-attach-point="createButtonNode" class="br-splashCreateButtonNode">
        <div data-dojo-attach-point="createButton" class="br-splashCreateButton"
             data-dojo-attach-event="onClick:createCharacter">${dict.CreateCharacter}
        </div>
      </div>
    </div>
  </div>
</div>
