/* Buttons */

.br-compactLayout .br-headerButton .dijitButtonText,
.br-compactButton .dijitButtonText {
    width: 0;
    padding: 0;
    overflow: hidden;
}

.br-compactButton .dijitIcon, .br-compactLayout .br-headerButton .dijitIcon {
    padding: 0 0.3em;
}

.br-splitButtonLeft .dijitIcon, .br-splitButtonRight .dijitIcon {
    padding: 0 0.6em !important;
}

.br-splitButtonLeft {
    margin-right: 0;
}

.flat .br-splitButtonLeft .dijitButtonNode {
    border-radius: 3px 0 0 3px !important;
}

.br-splitButtonRight {
    margin-left: 0;
}

.flat .dijitButtonNode {
    border-radius: 3px;
}

.flat .br-splitButtonRight .dijitButtonNode {
    border-radius: 0 3px 3px 0 !important;
    border-left: none !important;
}

.flat .br-darkButton .dijitButtonNode {
    background: #444;
    color: silver;
    border-color: black;
    border-radius: 3px;
    height: 25px;
}

.flat .br-darkButton.dijitDropDownButtonDisabled .dijitButtonNode {
    background: #585858;
    color: gray;
    border-color: #222;
}

.br-fullScreenButton {
    margin-left: 10px;
    margin-top: 4px;
}

.flat .br-smallButton {
    margin: 0;
}

.flat .br-smallButton .dijitButtonNode {
    background: none !important;
    border: none;
    border-radius: 4px;
    font-size: 20px;
}

.flat .br-smallButton.dijitButtonHover .dijitButtonNode {
    background: none;
}

.dijitButtonDisabled .fa, .dijitButtonDisabled .fa {
    color: #ccc !important;
}

.br-dialogButtons {
    padding: 4px 0;
    text-align: right;
}

.flat .br-toggleSet .dijitButtonNode {
    background: #444;
    color: #f44;
    border-color: black;
}

.br-textButton {
    display: inline-block;
    padding: 4px;
    border: 2px solid #c00;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 300ms;
    -webkit-transition: background-color 300ms;
}

.br-textButton:hover {
    background-color: rgba( 255, 0, 0, 0.2 );
}

.br-overlayButton {
    box-sizing: border-box;
    margin: 2px 4px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

.flat .br-statField {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    background-image: none !important;
    background-color: white;
}

.flat .br-statField {
    border: 2px solid gray;
}

.br-fileControlButton {
    border: 1px dashed #1e88e5;
    color: #1e88e5;
    text-align: center;
    border-radius: 3px;
    padding: 8px;
    font-family: Dosis, sans-serif;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

.br-fileSelected .br-fileControlButton {
    color: black;
    border: 1px solid black;
}

.br-stackedButtonLabel {
    font-size: 12px;
}

.br-stackedButtonLabelText {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
}

.br-switch {
    background-color: #f4f4f4;
    border: 1px solid silver;
    border-radius: 3px;
    height: 32px;
    display: inline-block;
}

.br-switchButton {
    cursor: pointer;
    position: absolute;
    transition: width 300ms;
    white-space: nowrap;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    height: 33px;
}

.br-switchLabel {
    padding: 1px 4px 1px 4px;
    line-height: 29px;
}

.br-switchDivider {
    background-color: silver;
    width: 24px;
    height: 32px;
    border-radius: 3px;
    border: 1px solid gray;
    box-sizing: border-box;
}