/* Dijits */

.flat .dijitNumberTextBox {
    text-align: center;
}


.flat .dijitSelect .dijitButtonContents, .flat .dijitSelect, .flat .dijitTextBox {
    border-color: #e4e4e4;
    background: none !important;
}

.flat .dijitSelect .dijitButtonContents, .flat .dijitTextBox .dijitButtonNode {
    border-color: #e4e4e4;
}

.flat .dijitTextBoxFocused {
    border-color: #3a5cac;
    background-color: white !important;
}

.dijitTextBoxFocused .dijitInputContainer {
    background-color: transparent !important;
}

.dijitTextArea {
    font-family: Dosis, sans-serif;
}

.flat .dijitMenuItem {
    font-family: Dosis, sans-serif;
}
