/* Dijits */

.tundra .dijitNumberTextBox {
    text-align: center;
}


.tundra .dijitSelect .dijitButtonContents, .tundra .dijitSelect, .tundra .dijitTextBox {
    border-color: #e4e4e4;
    background: none !important;
}

.tundra .dijitSelect .dijitButtonContents, .tundra .dijitTextBox .dijitButtonNode {
    border-color: #e4e4e4;
}

.tundra .dijitTextBoxFocused {
    border-color: #3a5cac;
    background-color: white !important;
}

.dijitTextBoxFocused .dijitInputContainer {
    background-color: transparent !important;
}

.dijitTextArea {
    font-family: Dosis, sans-serif;
}

.tundra .dijitMenuItem {
    font-family: Dosis, sans-serif;
}
