/* Animated transition effects. */
.br-fxInProgress {
    transition : color 300ms, background-color 300ms, border 300ms, width 300ms, height 300ms;
    -webkit-transition : color 300ms, background-color 300ms, border 300ms, width 300ms, height 300ms;
    -moz-transition : color 300ms, background-color 300ms, border 300ms, width 300ms, height 300ms;
}

.flat .br-valueChanged {
    background-color: #c00 !important;
    color: white !important;
}

.br-dontAnimate {
    transition: none !important;
}