/* ResolverPane */
.br-trainingNode {
    width : 55%;
}

.br-bonusNode {
    position: relative;
    width : 15%;
    min-width: 50px;
    min-height: 20px;
    box-sizing:border-box;
    padding-left: 8px;
}
.br-bonusHeader {
    position: relative;
    top: 8px;
    left: -20px;
    width: 70px;
    margin: 0 auto;
    text-align: right;
    transform: rotate(55deg);
    -webkit-transform: rotate(55deg);
    -ms-transform: rotate(55deg);
    -moz-transform: rotate(55deg);
}

.br-bonusButtons {
    text-align: right;
    margin-top: 35px;
}

.br-bonusButton {
    border: 2px solid #c00;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin: 4px auto;
    text-align: center;
    font-weight: bold;
    line-height:28px;
    cursor: pointer;
    transition: background-color 300ms;
    -webkit-transition: background-color 300ms;
}

.br-bonusSelected {
    background-color: #c00;
    color: white;
}

.br-bonusButton:hover {
    background-color: #fcc;
}

.br-disabledBonus {
    border-color: gray;
    color: gray;
}

.br-bonusSelected.br-disabledBonus {
    background-color: gray;
    color: white;
}

.br-tempBonus {
    background-color: #f88;
}

.br-resolveContainer {
    clear: both;
}

.br-dieRoll {
    font-weight: normal;
    font-size: 30px;
    line-height: 24px;
}

.br-trainingSymbol {
    color: #c00;
    font-style: normal;
    font-weight: normal;
}

.br-bonusSelected .br-trainingSymbol {
    color: white;
}

.br-bonusSelected:hover {
    background-color: #900;
}

.br-numberInput {
    border-color: black;
}

.br-numberSelector {
    max-width : 190px;
}

.br-numberSelector .br-bonusButton {
    display: inline-block;
    margin-right: 4px;
}

.br-untrainedSkill {
    font-style: italic;
    font-weight: normal;
}

.br-numberDisplay {
    cursor: default;
    border-color: gray;
}

.br-numberDisplay:hover {
    background-color: transparent;
}

