/* Traits pane */
.br-featureItemWrapper {
    display: inline-block;
    vertical-align: -12px;
    width: 100%;
}

.br-featureDescription {
    overflow : hidden;
    height : 0;
    transition: height 200ms;
}

.br-featureDescriptionContent {
    font-family: Old Standard TT, serif;
    padding: 4px;
    box-sizing : border-box;
}

.br-featureList {
    font-family: Old Standard TT, serif;
}
