/* Splash screen. */
.br-splash {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background-color: #fafafa;
    overflow: hidden;
    transition: opacity 300ms;
}

.br-splashLogoWrapper {
    position: relative;
    margin: -750px;
}

.br-splashLogoNode {
    position: relative;
    top: 300px;
    margin: auto;
    width: 1500px;
    height: 1500px;
    overflow: hidden;
    transform: scale(1);
    -webkit-transform: scale(1);
    transition: transform 300ms;
}

.br-splashLogoL {
    position: absolute;
    top: 650px;
    left: -200px;
    font-family: 'Stalinist One', sans-serif;
    font-size: 200px;
    text-transform: uppercase;
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
}

.br-splashLogoBriko {
    position: absolute;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

.br-splashLogoLeur {
    position: absolute;
    top: 650px;
    left: 460px;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    color: #c00;
}

.br-splashNameInputNode {
    font-family: Old Standard TT,serif;
    left: 525px;
    position: absolute;
    top: 450px;
    transform:rotate(-20deg);
    -webkit-transform:rotate(-20deg);
}

.br-splashArchetypeSelectNode {
    font-family: Iceberg,sans-serif;
    left: 850px;
    position: absolute;
    top: 650px;
    transform:rotate(-20deg);
    -webkit-transform:rotate(-20deg);
}

.br-splashCharacterInput {
    font-family: Old Standard TT, serif;
    font-size: 80px;
    font-style: italic !important;
    width: 800px;
}

.br-splashCreateButtonNode {
    position: absolute;
    font-size: 40px;
    top: 700px;
    left: 620px;
    font-family: Dosis, sans-serif;
}

.br-lastModified {
    color: gray;
    font-size: 48px;
    height: 50px;
    left: -250px;
    overflow: visible;
    position: absolute;
    top: 980px;
    transform: rotate(70deg);
    -webkit-transform:rotate(70deg);
    width: 1200px;
}

.flat .br-splash .br-splashCharacterInput .dijitTextBox {
    padding: 15px;
    background-color: #c00 !important;
    color: #fafafa !important;
}

.flat .br-splash .br-splashCharacterInput {
    border: none !important;
    background-color: #c00 !important;
    color: #fafafa !important;
}

.br-splashArchetypeSelect {
    font-family: Iceberg, sans-serif;
    font-size: 60px;
    height: 75px;
}

.br-splashCreateButton {
    width: 200px;
    height: 200px;
    text-align:center;
    padding: 75px 0;
    background-color: #c00;
    border-radius: 400px;
    color: white;
    cursor: pointer;
    box-sizing: border-box;
}

.br-hideWhenLoaded {
    background-color: #c00;
}
