@import "../../../dojox/mobile/themes/custom/Switch.css";

.br-hasLoaded .br-hideWhenLoaded {
    display: none;
}

.br-inPlay .br-hideInPlay {
    display: none !important;
}

.br-hideOutOfCombat {
    display: none;
}

.br-inCombat .br-hideOutOfCombat {
    display: block;
}

.br-inCombat .br-hideInCombat {
    display: none;
}

.br-hideWhenIncomplete {
    display: none;
}

.br-itemComplete .br-hideWhenComplete {
    display: none;
}

.br-itemComplete .br-hideWhenIncomplete {
    display: inline-block;
}

.br-attackNode .br-defenceTraining {
    display: none;
}

.br-defenceNode .br-rangedAttackTraining {
    display: none;
}

.br-showWhenWounded {
    display: none;
}

.br-status-wounded .br-showWhenWounded, .br-status-incapacitated .br-showWhenWounded, .br-status-dead .br-showWhenWounded {
    display: block;
}

.mblSwitch {
    border-radius: 3px;
    margin: 5px;
    cursor: pointer;
}

.mblSwitchBg {
    font-family: Dosis, sans-serif;
    font-weight: normal;
    color: black;
    border: 1px solid #800;
}

.mblSwDefaultShape .mblSwitchKnob {
    border-radius: 3px;
}

.flat .mblSwitchBgLeft {
    background: #d4d4d4 !important;
}

.flat .mblSwitchBgRight {
    background: #f00 !important;
}

.mblSwitchText {
    line-height: 24px;
}

.br-hideForOld {
    visibility: hidden;
}

.br-newCharacter .br-hideForOld {
    visibility: visible;
}