.br-hasLoaded .br-hideWhenLoaded {
    display: none;
}

.br-inPlay .br-hideInPlay {
    display: none !important;
}

.br-hideOutOfCombat {
    display: none;
}

.br-inCombat .br-hideOutOfCombat {
    display: block;
}

.br-inCombat .br-hideInCombat {
    display: none;
}
