<div>
  <div data-dojo-attach-point="titleNode" class="br-propertyTitle">${title}</div>
  <div data-dojo-attach-point="displayNode" class="br-displayContainer br-inputContainer">
    <div class="br-floatRight br-inputContainer" style="width:25px;">
      <i class="br-active br-gray fa fa-chevron-circle-right" data-dojo-attach-point="descriptionButton"
         data-dojo-attach-event="onClick:toggleDescription"></i>
    </div>
    <span data-dojo-attach-point="valueNode">${dict.Oga}</span>

    <div style="clear:both"></div>
  </div>
  <div data-dojo-attach-point="controlNode" style="display:none">
    <div class="br-floatRight" style="width:40px;">
      <button data-dojo-attach-point="addButton" data-dojo-type="dijit/form/Button"
              data-dojo-attach-event="onClick:pleaseAddItem" class="br-smallButton"><i
              class="fa fa-plus-square br-green"></i></button>
    </div>
    <div class="br-floatRight br-inputContainer" style="width:calc(100% - 40px);">
      <span data-dojo-attach-point="selectorNode"></span>
    </div>
    <div style="clear:both"></div>
  </div>
  <div data-dojo-attach-point="descriptionWrapper" class="br-featureDescription">
    <div data-dojo-attach-point="descriptionNode" class="br-featureDescriptionContent">
      <div data-dojo-attach-point="descriptionContent">Oga are skill packages that give the equivalent of Knack +
        Training in a single skill. Only non-combat skills are applicable. It takes 24 hours for an oga to become
        active, but they can be removed at any time.
      </div>
      <div data-dojo-attach-point="descriptionLink">
        <a class="br-manualLink" href="http://manual.brikoleur.com/#Ogas" target="manualWindow">
          More information
          <i class="fa fa-external-link-square"></i>
        </a>      </div>
    </div>
  </div>
  <div data-dojo-attach-point="childrenNode" class="br-indented">
    <input data-dojo-type="dijit/form/TextBox" data-dojo-attach-point="socketedTrainingInput"
           placeholder="${dict.EnterSocketedOga}" style="width:100%">
  </div>
</div>