<div class="br-switch" data-dojo-attach-event="onClick:_onClick">
  <div class="br-switchButton" style="padding-left:20px;left:0;"
       data-dojo-attach-point="leftButton">
    <div class="br-switchLabel">${leftLabel}</div>
  </div>
  <div class="br-switchDivider" data-dojo-attach-point="switchDivider" style="position:absolute;top:0;right:0;transition:left 300ms;"></div>
  <div class="br-switchButton" style="right:0;color:#c00;font-weight:bold;"
       data-dojo-attach-point="rightButton">
    <div class="br-switchLabel">${rightLabel}</div>
  </div>
  <div style="clear:both;"></div>
</div>