<div>
  <table width="100%">
    <tbody>
    <tr>
      <td>

      </td>
      <td>
        <div class="br-bonusHeader">${dict.TaskDifficulty}</div>
      </td>
      <td>
      </td>
      <td>
        <div class="br-bonusHeader">${dict.TotalBonus}</div>
      </td>
      <td>
      </td>
      <td>
        <div class="br-bonusHeader" data-dojo-attach-point="dieLabelNode">${dict.DieTarget}</div>
      </td>
      <td>
      </td>
      <td>
        <div class="br-bonusHeader">${dict.TaskResult}</div>
      </td>
      <td>
      </td>
      <td colspan="3">
      </td>
    </tr>
    <tr>
      <td>

      </td>
      <td>
        <div class="br-bonusButtons">
          <div data-dojo-attach-point="difficultyControl"
               data-dojo-type="primejunta/brikoleur/chargen/ip/_base/NumberInput"
               data-dojo-props="numbers:[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,18,20,22,24],value:${difficulty}"
               data-dojo-attach-event="onChange:setDifficulty"></div>
        </div>
      </td>
      <td>
        <div class="br-bonusButtons br-operatorText">&ndash;</div>
      </td>
      <td>
        <div class="br-bonusButtons">
          <div class="br-showWhenWounded br-woundedMalus">&ndash; 1</div>
          <div data-dojo-attach-point="totalBonusNode" class="br-bonusButton br-numberDisplay">0</div>
        </div>
      </td>
      <td>
        <div class="br-bonusButtons br-operatorText">+</div>
      </td>
      <td>
        <div class="br-bonusButtons">
          <div data-dojo-attach-point="rollDieNode" class="br-bonusButton"
               data-dojo-attach-event="onClick:onDieClick"></div>
        </div>
      </td>
      <td>
        <div class="br-bonusButtons br-operatorText">=</div>
      </td>
      <td>
        <div class="br-bonusButtons">
          <div data-dojo-attach-point="taskResultNode" class="br-bonusButton br-numberDisplay">?</div>
        </div>
      </td>
      <td colspan="3" style="text-align: right;">
        <div class="br-bonusButtons">
          <button data-dojo-type="dijit/form/Button" class="br-resolveButton alt-primary" data-dojo-props="iconClass:'fa fa-gamepad'"
                  data-dojo-attach-event="onClick:rollDie">${dict.Resolve}
          </button>
        </div>
      </td>
    </tr>
    </tbody>
    <tbody class="br-hideOutOfCombat">
      <tr>
        <td>
        </td>
        <td>
          <div class="br-bonusHeader">${dict.BaseDamage}</div>
        </td>
        <td>
        </td>
        <td>
          <div class="br-bonusHeader">${dict.WeaponLevel}</div>
        </td>
        <td>
        </td>
        <td>
          <div class="br-bonusHeader">${dict.CalculatedDamage}</div>
        </td>
        <td>
        </td>
        <td>
          <div class="br-bonusHeader">${dict.Armour}</div>
        </td>
        <td>
        </td>
        <td>
          <div class="br-bonusHeader">${dict.ResultingDamage}</div>
        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>
          <div class="br-bonusButtons br-operatorText"> ×</div>
        </td>
        <td>
          <div class="br-bonusButtons">
            <div data-dojo-attach-point="baseDamageControl"
                 data-dojo-type="primejunta/brikoleur/chargen/ip/_base/NumberInput"
                 data-dojo-props="numbers:[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,18,20,22,24],value:2"
                 data-dojo-attach-event="onChange:setDifficulty"></div>
          </div>
        </td>
        <td>
          <div class="br-bonusButtons br-operatorText"> +</div>
        </td>
        <td>
          <div class="br-bonusButtons">
          <div data-dojo-attach-point="weaponLevelControl"
               data-dojo-type="primejunta/brikoleur/chargen/ip/_base/NumberInput"
               data-dojo-props="numbers:[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,18,20,22,24],value:1"
               data-dojo-attach-event="onChange:setDifficulty"></div>
            </div>
        </td>
        <td>
          <div class="br-bonusButtons br-operatorText"> =</div>
        </td>
        <td>
          <div class="br-bonusButtons">
            <div data-dojo-attach-point="calculatedDamageNode" class="br-bonusButton br-numberDisplay">?</div>
          </div>
        </td>
        <td>
          <div class="br-bonusButtons br-operatorText"> &ndash; </div>
        </td>
        <td>
          <div class="br-bonusButtons">
            <div data-dojo-attach-point="armourControl"
                 data-dojo-type="primejunta/brikoleur/chargen/ip/_base/NumberInput"
                 data-dojo-props="numbers:[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,18,20,22,24],value:0"
                 data-dojo-attach-event="onChange:setDifficulty"></div>
          </div>
        </td>
        <td>
          <div class="br-bonusButtons br-operatorText"> =</div>
        </td>
        <td>
          <div class="br-bonusButtons">
            <div data-dojo-attach-point="damageNode" class="br-bonusButton br-numberDisplay">?</div>
          </div>
        </td>
        <td style="text-align: right;">
          <div class="br-bonusButtons">
            <button data-dojo-type="dijit/form/Button" class="br-resolveButton alt-primary" data-dojo-props="iconClass:'fa fa-crosshairs'"
                    data-dojo-attach-event="onClick:onAttack">${dict.Attack}
            </button>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="br-bonusButtons br-operatorText"> ×</div>
        </td>
        <td>
          <div class="br-bonusButtons">
            <div data-dojo-attach-point="defenceBaseDamageControl"
                 data-dojo-type="primejunta/brikoleur/chargen/ip/_base/NumberInput"
                 data-dojo-props="numbers:[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,18,20,22,24],value:2"
                 data-dojo-attach-event="onChange:setDifficulty"></div>
          </div>
        </td>
        <td>
          <div class="br-bonusButtons br-operatorText"> +</div>
        </td>
        <td>
          <div class="br-bonusButtons">
          <div data-dojo-attach-point="defenceWeaponLevelControl"
               data-dojo-type="primejunta/brikoleur/chargen/ip/_base/NumberInput"
               data-dojo-props="numbers:[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,18,20,22,24],value:1"
               data-dojo-attach-event="onChange:setDifficulty"></div>
          </div>
        </td>
        <td>
          <div class="br-bonusButtons br-operatorText"> =</div>
        </td>
        <td>
          <div class="br-bonusButtons">
            <div data-dojo-attach-point="defenceCalculatedDamageNode" class="br-bonusButton br-numberDisplay">?</div>
          </div>
        </td>
        <td>
          <div class="br-bonusButtons br-operatorText"> &ndash; </div>
        </td>
        <td>
          <div class="br-bonusButtons">
            <div data-dojo-attach-point="defenceArmourControl"
                 data-dojo-type="primejunta/brikoleur/chargen/ip/_base/NumberInput"
                 data-dojo-props="numbers:[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,18,20,22,24],value:0"
                 data-dojo-attach-event="onChange:setDifficulty"></div>
          </div>
        </td>
        <td>
          <div class="br-bonusButtons br-operatorText"> =</div>
        </td>
        <td>
          <div class="br-bonusButtons">
            <div data-dojo-attach-point="defenceDamageNode" class="br-bonusButton br-numberDisplay">?</div>
          </div>
        </td>
        <td style="text-align: right;">
          <div class="br-bonusButtons">
            <button data-dojo-type="dijit/form/Button" class="br-resolveButton alt-danger" data-dojo-props="iconClass:'fa fa-shield'"
                    data-dojo-attach-event="onClick:onDefend">${dict.Defend}
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
</div>