<div class="br-trainingButton">
  <div data-dojo-attach-point="titleNode" class="br-propertyTitle">${title}</div>
  <div data-dojo-attach-point="displayNode" class="br-displayContainer br-inputContainer">
    <div class="br-textButton br-floatLeft" data-dojo-attach-point="clickNode"
         data-dojo-attach-event="onClick:pleasePrepareTask">
      <span class="br-trainingSymbol">${symbol}</span>
      <span data-dojo-attach-point="valueNode"></span>
    </div>
    <div class="br-floatLeft br-inputContainer" style="width:25px;" data-dojo-attach-point="chevronContainer">
      <i class="br-active br-gray fa fa-chevron-circle-right" data-dojo-attach-point="descriptionButton"
         data-dojo-attach-event="onClick:toggleDescription"></i>
    </div>
    <div style="clear:both"></div>
  </div>
  <div data-dojo-attach-point="descriptionWrapper" class="br-featureDescription">
    <div data-dojo-attach-point="descriptionNode" class="br-featureDescriptionContent">
      <div data-dojo-attach-point="descriptionContent"></div>
      <div data-dojo-attach-point="descriptionLink"></div>
    </div>
  </div>
  <div data-dojo-attach-point="childrenNode" class="br-indented">
  </div>
</div>