<div>
  <div data-dojo-attach-point="infoNode">${uploadInfoMessage}</div>
  <div data-dojo-attach-point="fileControls" style="width:100%;height:100%;">
    <div class="br-fileControlWrapper" style="width:100%;height:100%;">
      <div class="br-fileControlButton" data-dojo-attach-event="onClick:pleaseSelectFile" style="width:100%;height:100%;">
        <span data-dojo-attach-point="fileMessageNode">${dict.PleaseSelectFile}</span>
      </div>
    </div>
  </div>
  <div data-dojo-attach-point="messageNode"></div>
</div>