<div>
  <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'left'" class="br-sidebar"
       data-dojo-attach-point="dockContainer">
  </div>
  <div data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="nameContainer" data-dojo-props="region:'top'"
       class="br-nameContainer">
  </div>
  <div data-dojo-type="primejunta/brikoleur/chargen/_base/DynamicGrid" data-dojo-props="region:'center'"
       data-dojo-attach-point="dynamicGrid" style="padding:8px 8px 8px 0">
  </div>
</div>