<div class="br-addControl">
  <div class="br-floatLeft br-inputContainer" style="width:25px;">
  </div>
  <div class="br-floatRight" style="width:40px;">
    <button data-dojo-type="dijit/form/Button" data-dojo-attach-point="addButton"
            data-dojo-attach-event="onClick:addItem" class="br-smallButton"><span
            class="br-stackedButtonLabel"><span class="fa-stack"><i class="fa fa-square fa-stack-2x br-green"></i><i
            class="fa fa-stack-1x fa-inverse fa-plus"></i></span></span>
    </button>
  </div>
  <div class="br-floatLeft br-inputContainer">
    <select data-dojo-attach-point="typeSelect" data-dojo-type="dijit/form/Select">
      <option value="weapon">${dict.Weapon}</option>
      <option value="armour">${dict.Armour}</option>
      <option value="gear">${dict.Gear}</option>
    </select>
  </div>
  <div style="clear:both"></div>
</div>