<div class="br-inventoryItem">
  <div class="br-floatLeft br-inputContainer" style="width:25px;">
    <input type="checkbox" data-dojo-type="dijit/form/CheckBox" data-dojo-attach-event="onChange:_publishChange"
           data-dojo-attach-point="activeControl"/>
  </div>
  <div class="br-floatLeft br-inputContainer" style="display:none;">
    <span data-dojo-attach-point="typeDisplayNode">
    </span>
  </div>
  <div class="br-floatLeft br-inputContainer" style="width:40px;">
    <input data-dojo-type="dijit/form/NumberTextBox" data-dojo-attach-point="levelInput"
           data-dojo-attach-event="onChange:_publishChange" style="width:100%"/>
  </div>
  <div class="br-floatRight" style="width:40px;" data-dojo-attach-point="statusControlNode">
  </div>
  <div class="br-floatRight br-inputContainer" style="width:calc( 100% - 105px )">
    <input data-dojo-type="dijit/form/TextBox" data-dojo-attach-point="descriptionInput"
           data-dojo-attach-event="onChange:_publishChange" style="width:100%"/>
  </div>
  <div style="clear:both"></div>
</div>