<div class="br-rowHeader">
  <div data-dojo-attach-point="gearHeaderNode">
    <div class="br-subPaneTitle">${dict.Items}</div>
    <div class="br-floatLeft br-inputContainer" style="width:25px;">
      &nbsp;
    </div>
    <div class="br-floatLeft br-inputContainer" style="width:100px;">
      ${dict.Type}
    </div>
    <div class="br-floatLeft br-inputContainer" style="width:40px;">
      ${dict.Lvl}
    </div>
    <div class="br-floatRight" style="width:40px;">
      &nbsp;
    </div>
    <div class="br-floatRight br-inputContainer" style="width:calc( 100% - 205px )">
      ${dict.ItemDescription}
    </div>
  </div>
  <div data-dojo-attach-point="weaponHeaderNode" style="display:none">
    <div class="br-subPaneTitle">${dict.Weapons}</div>
    <div class="br-floatLeft br-inputContainer" style="width:25px;">
      &nbsp;
    </div>
    <div class="br-floatLeft br-inputContainer" style="width:100px;">
      ${dict.Type}
    </div>
    <div class="br-floatLeft br-inputContainer" style="width:40px;">
      ${dict.Lvl}
    </div>
    <div class="br-floatLeft br-inputContainer" style="width:40px;">
      ${dict.Dmg}
    </div>
    <div class="br-floatLeft br-inputContainer" style="width:63px;">
      ${dict.Range}
    </div>
    <div class="br-floatRight" style="width:40px;">
      &nbsp;
    </div>
    <div class="br-floatRight br-inputContainer" style="width:calc( 100% - 322px )">
      ${dict.TypeAndName}
    </div>
  </div>
  <div data-dojo-attach-point="armourHeaderNode" style="display:none">
    <div class="br-subPaneTitle">${dict.Armours}</div>
    <div class="br-floatLeft br-inputContainer" style="width:25px;">
      &nbsp;
    </div>
    <div class="br-floatLeft br-inputContainer" style="width:100px;">
      ${dict.Type}
    </div>
    <div class="br-floatLeft br-inputContainer" style="width:40px;">
      ${dict.Lvl}
    </div>
    <div class="br-floatLeft br-inputContainer" style="width:40px;">
      ${dict.Direct}
    </div>
    <div class="br-floatLeft br-inputContainer" style="width:40px;">
      ${dict.Environmental}
    </div>
    <div class="br-floatLeft br-inputContainer" style="width:40px;">
      ${dict.MovementPenalty}
    </div>
    <div class="br-floatRight br-inputContainer" style="width:calc( 100% - 283px )">
      ${dict.ItemDescription}
    </div>
  </div>
  <div style="clear:both"></div>
</div>