<div class="br-rowHeader">
    <div data-dojo-attach-point="gearHeaderNode">
        <div class="br-floatLeft br-inputContainer" style="width:25px;">
            &nbsp;
        </div>
        <div class="br-floatLeft br-inputContainer" style="width:100px;">
            ${dict.Type}
        </div>
        <div class="br-floatLeft br-inputContainer" style="width:30px;">
            ${dict.Lvl}
        </div>
        <div class="br-floatRight" style="width:30px;">
            &nbsp;
        </div>
        <div class="br-floatRight br-inputContainer" style="width:calc( 100% - 185px )">
            ${dict.ItemDescription}
        </div>
    </div>
    <div data-dojo-attach-point="weaponHeaderNode" style="display:none">
        <div class="br-floatLeft br-inputContainer" style="width:25px;">
            &nbsp;
        </div>
        <div class="br-floatLeft br-inputContainer" style="width:100px;">
            ${dict.Type}
        </div>
        <div class="br-floatLeft br-inputContainer" style="width:30px;">
            ${dict.Lvl}
        </div>
        <div class="br-floatLeft br-inputContainer" style="width:30px;">
            ${dict.Dmg}
        </div>
        <div class="br-floatLeft br-inputContainer" style="width:63px;">
            ${dict.Range}
        </div>
        <div class="br-floatRight" style="width:30px;">
            &nbsp;
        </div>
        <div class="br-floatRight br-inputContainer" style="width:calc( 100% - 278px )">
            ${dict.ItemDescription}
        </div>
    </div>
    <div data-dojo-attach-point="armourHeaderNode" style="display:none">
        <div class="br-floatLeft br-inputContainer" style="width:25px;">
            &nbsp;
        </div>
        <div class="br-floatLeft br-inputContainer" style="width:100px;">
            ${dict.Type}
        </div>
        <div class="br-floatLeft br-inputContainer" style="width:30px;">
            ${dict.Lvl}
        </div>
        <div class="br-floatLeft br-inputContainer" style="width:30px;">
            ${dict.Direct}
        </div>
        <div class="br-floatLeft br-inputContainer" style="width:30px;">
            ${dict.Environmental}
        </div>
        <div class="br-floatLeft br-inputContainer" style="width:30px;">
            ${dict.StaminaPenalty}
        </div>
        <div class="br-floatLeft br-inputContainer" style="width:30px;">
            ${dict.MovementPenalty}
        </div>
        <div class="br-floatRight" style="width:30px;">

        </div>
        <div class="br-floatRight br-inputContainer" style="width:calc( 100% - 313px )">
            ${dict.ItemDescription}
        </div>
    </div>
    <div style="clear:both"></div>
</div>