<div class="br-inventoryItem">
  <div class="br-floatLeft br-inputContainer" style="width:25px;">
    <input type="checkbox" data-dojo-type="dijit/form/CheckBox" data-dojo-attach-event="onChange:_publishChange"
           data-dojo-attach-point="activeControl"/>
  </div>
  <div class="br-floatLeft br-inputContainer" style="width:100px;">
    <select data-dojo-type="dijit/form/Select" data-dojo-attach-point="itemTypeSelect"
            data-dojo-attach-event="onChange:onChangeType">
      <option value="LR">${dict.LightRanged}</option>
      <option value="MR">${dict.MediumRanged}</option>
      <option value="HR">${dict.HeavyRanged}</option>
      <option value="T">${dict.Thrown}</option>
      <option value="M">${dict.Melee}</option>
    </select>
  </div>
  <div class="br-floatLeft br-inputContainer" style="width:30px;">
    <input data-dojo-type="dijit/form/NumberTextBox" data-dojo-attach-point="levelInput"
           data-dojo-attach-event="onChange:recalcValues" style="width:100%"/>
  </div>
  <div class="br-floatLeft br-inputContainer" style="width:30px;">
    <input data-dojo-type="dijit/form/NumberTextBox" data-dojo-attach-point="damageInput"
           data-dojo-attach-event="onChange:recalcValues" style="width:100%"/>
  </div>
  <div class="br-floatLeft br-inputContainer" style="width:63px;">
    <select data-dojo-type="dijit/form/Select" data-dojo-attach-point="rangeSelect"
            data-dojo-attach-event="onChange:_publishChange">
      <option value="S">${dict.ShortRange}</option>
      <option value="M">${dict.MedRange}</option>
      <option value="L">${dict.LongRange}</option>
      <option value="X">${dict.ExtRange}</option>
      <option value="N/A">${dict.NotApplicable}</option>
    </select>
  </div>
  <div class="br-floatRight" style="width:30px;" data-dojo-attach-point="statusControlNode">
  </div>
  <div class="br-floatRight br-inputContainer" style="width:calc( 100% - 278px )">
    <span class="br-hideWhenIncomplete">
      <span data-dojo-attach-point="combatControlNode" class="br-textButton br-hideOutOfCombat"
            data-dojo-attach-event="onClick:pleaseAttack"></span>
      <span data-dojo-attach-point="descriptionNode" class="br-hideInCombat">
        <span data-dojo-attach-point="descriptionContent"></span>
      </span>
    </span>
    <span class="br-hideWhenComplete">
     <select data-dojo-type="dijit/form/ComboBox" data-dojo-attach-point="specialisationInput"
             placeholder="${dict.Specialisation}"
             data-dojo-attach-event="onFocus:updateWeaponTypes,onChange:_publishChange" style="width:100%;">
     </select>
     <input data-dojo-type="dijit/form/TextBox" data-dojo-attach-point="descriptionInput" placeholder="${dict.ItemName}"
            data-dojo-attach-event="onChange:_publishChange" style="width:100%;"/>
    </span>
  </div>
  <div style="clear:both"></div>
</div>