<div class="br-featurePane">
  <div class="br-featureTitle" data-dojo-attach-event="onClick:minimize">
    <i class="br-minimizeButton fa fa-minus-circle"></i>

    <div>
      <i class="fa-fa-${icon}"></i>&nbsp;&nbsp;<span>${title}</span>
    </div>
  </div>
  <div data-dojo-attach-point="containerNode" class="br-featureContainer">
    <div data-dojo-type="primejunta/brikoleur/chargen/oop/inventory/_ItemHeader" data-dojo-props="type:'weapon'"></div>
    <div data-dojo-attach-point="weaponsNode">

    </div>
    <div data-dojo-type="primejunta/brikoleur/chargen/oop/inventory/_ItemHeader" data-dojo-props="type:'armour'"></div>
    <div data-dojo-attach-point="armoursNode">

    </div>
    <div data-dojo-type="primejunta/brikoleur/chargen/oop/inventory/_ItemHeader" data-dojo-props="type:'item'"></div>
    <div data-dojo-attach-point="itemsNode">

    </div>
  </div>
</div>