<div>
    <div data-dojo-attach-point="titleNode" class="br-propertyTitle">${title}</div>
    <div data-dojo-attach-point="displayNode" style="display: none">
        <span data-dojo-attach-point="valueNode"></span>
        <button data-dojo-type="dijit/form/Button" data-dojo-attach-point="deleteButton" data-dojo-attach-event="onClick:pleaseDestroy" class="br-smallButton"><i class="fa fa-minus-square br-red"></i></button>
    </div>
    <div data-dojo-attach-point="controlNode" class="br-controlNode">
        <button data-dojo-attach-point="addButton" data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick:addItem" class="br-smallButton"><i class="fa fa-plus-square br-blue"></i></button>
        <span data-dojo-attach-point="levelSelectorNode"></span>
        <span data-dojo-attach-point="selectorNode"></span>
    </div>
    <div data-dojo-attach-point="childrenNode" class="br-indented">

    </div>
</div>