<div>
  <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'top'" class="br-header">
    <div class="br-header-left"></div>
    <div class="br-header-bg"></div>
    <div>${!dict.headerText}</div>
  </div>
  <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'left'" class="br-sidebar" data-dojo-attach-point="dockContainer">
  </div>
  <div data-dojo-type="dijit/layout/StackContainer" data-dojo-props="region:'center'" data-dojo-attach-point="mainTabs">
    <div data-dojo-type="dijit/layout/LayoutContainer" data-dojo-attach-point="oopTab" title="${dict.OutOfPlay}">
      <div data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="nameContainer" data-dojo-props="region:'top'">
      </div>
      <div data-dojo-type="primejunta/brikoleur/chargen/_base/DynamicGrid" data-dojo-props="region:'center'" data-dojo-attach-point="oopGrid">
      </div>
    </div>
    <div data-dojo-type="dijit/layout/ContentPane" title="${dict.InPlay}" data-dojo-attach-point="ipTab">
      ip
    </div>
  </div>
  <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'bottom'" class="br-footer">
    <div>${dict.footerText}  <button data-dojo-attach-event="onclick:logState" style="z-index:999;">Log state</button> </div>
  </div>
</div>