<div class="br-controller" style="opacity:0;transition:opacity 300ms;">
  <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'top'" class="br-header">
    <div class="br-header-left"></div>
    <div class="br-header-bg"></div>
    <div data-dojo-attach-point="headerContentNode" class="br-headerContent">
      <div data-dojo-attach-point="headerContentNodeRight" class="br-floatRight" style="padding-right:8px;">
        <div class="br-floatRight br-jujuField">
          <label><span class="br-fieldLabel">${dict.Juju}</span> <input data-dojo-attach-point="jujuInput" data-dojo-type="dijit/form/NumberTextBox" value="12" data-dojo-attach-event="onChange:onJujuChange,onBlur:onJujuBlur,onFocus:onJujuFocus"/></label>
        </div>
      </div>
      <a href="${manualUrl}" class="br-headerLink">Brikoleur <i class="fa fa-external-link-square"></i></a>
    </div>
  </div>
  <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'left'" class="br-sidebar" data-dojo-attach-point="dockContainer">
  </div>
  <div data-dojo-type="dijit/layout/StackContainer" data-dojo-props="region:'center'" data-dojo-attach-point="mainTabs">
    <div data-dojo-type="dijit/layout/LayoutContainer" data-dojo-attach-point="oopTab" title="${dict.OutOfPlay}">
      <div data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="nameContainer" data-dojo-props="region:'top'" class="br-nameContainer">
      </div>
      <div data-dojo-type="primejunta/brikoleur/chargen/_base/DynamicGrid" data-dojo-props="region:'center'" data-dojo-attach-point="oopGrid" style="padding:8px 8px 8px 0">
      </div>
    </div>
    <div data-dojo-type="dijit/layout/ContentPane" title="${dict.InPlay}" data-dojo-attach-point="ipTab">
      ip
    </div>
  </div>
  <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'bottom'" class="br-footerContainer">
    <div class="br-footer-left"> </div>
    <div class="br-copyright">
    © “Creative Workers’ Collective ‘Alexander Bogdanov’,” some rights reserved. • <a href="${licenseUrl}">Licensing Information</a>
    </div>
  </div>
</div>