<!DOCTYPE html>
<html>
<head>
  <!-- Index page for Character Creation Utility. -->
  <title>brikoleur</title>
  <meta charset="utf-8">
  <meta name="viewport" content="user-scalable=no,initial-scale=1.0,width=device-width" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <link rel="icon" type="image/png" href="http://shared.brikoleur.com/ikons/brikoleur-icon-48.png" sizes="48x48">
  <link rel="icon" type="image/png" href="http://shared.brikoleur.com/ikons/brikoleur-icon-32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="http://shared.brikoleur.com/ikons/brikoleur-icon-16.png" sizes="16x16">
  <link rel="apple-touch-icon" href="http://shared.brikoleur.com/ikons/brikoleur-icon-60.png">
  <link rel="apple-touch-icon" sizes="76x76" href="http://shared.brikoleur.com/ikons/brikoleur-icon-76.png">
  <link rel="apple-touch-icon" sizes="120x120" href="http://shared.brikoleur.com/ikons/brikoleur-icon-120.png">
  <link rel="apple-touch-icon" sizes="152x152" href="http://shared.brikoleur.com/ikons/brikoleur-icon-152.png">
  <style type="text/css">
    @import "dojo/themes/flat/flat.css";
    @import "http://shared.brikoleur.com/fonts/fonts.css";
    @import "http://shared.brikoleur.com/font-awesome/css/font-awesome.min.css";
    @import "app-client/primejunta/brikoleur/css/chargen.css";
  </style>
  <script type="text/javascript">
    var dojoConfig = {
      async : true,
      parseOnLoad : false,
      locale : "${locale}",
      deps : [],
      packages : [
        {
          name : "primejunta",
          location : "/app-client/primejunta"
        },
        {
          name : "app",
          location : "/app"
        }
      ],
      callback : function()
      {
        require([ "primejunta/_base/ResetPasswordControl",
                  "dojo/domReady!" ],
                function( ResetPasswordControl )
                {
                  new ResetPasswordControl({
                    token : "${token}",
                    returnUrl : "${returnUrl}",
                    user : "${user}",
                    status : "${status}",
                    "class" : "br-resetPasswordControl"
                  }).placeAt( document.body ).startup();
                });
      }
    }
  </script>
  <script type="text/javascript" src="dojo/dojo/dojo.js">
  </script>
</head>
<body class="flat br-loginPage">
<h1 class="br-partHeading br-withShadow">brikoleur</h1>
</body>
</html>