<div>
  <form data-dojo-attach-point="submitForm" data-dojo-type="dijit/form/Form">
    <h1>${title}</h1>
    <p>
      <input type="text" name="username" placeholder="${dict.UsernameOrEmail}" data-dojo-attach-point="usernameField"
             data-dojo-type="dijit/form/ValidationTextBox" data-dojo-attach-event="onKeyDown:checkControls"
             data-dojo-props="required:true"/>
    </p>
    <p>
      <input type="password" placeholder="${dict.Password}" name="password"
             data-dojo-attach-point="passwordField"
             data-dojo-type="dijit/form/ValidationTextBox"
             data-dojo-attach-event="onKeyDown:checkControls"
             data-dojo-props="required:true"/>
    </p>
    <p style="text-align: right">
      <button data-dojo-attach-point="loginButton" data-dojo-type="dijit/form/Button" class="alt-primary"
              data-dojo-attach-event="onClick:submit" disabled="disabled">${dict.Login}
      </button>
      <br/>
      <a class="br-resetLink" data-dojo-attach-point="resetPasswordButton"
         data-dojo-attach-event="onClick:resetPassword">${dict.ForgotPassword}
      </a>
    </p>
    <p data-dojo-attach-point="messageNode"></p>
  </form>
</div>
