<div>
  <h1>${dict.ResetPassword}</h1>
  <form data-dojo-attach-point="submitForm" data-dojo-type="dijit/form/Form" style="display:none">
    <p>${resetMessage}</p>
    <p>
      <input type="password" placeholder="${dict.Password}" name="password"
             data-dojo-type="dijit/form/ValidationTextBox"
             data-dojo-props="regExp:'${passwordRegExp}',required:true, invalidMessage:'${dict.InvalidPasswordMessage}'"
      />
    </p>
    <p>
      <input type="password" placeholder="${dict.RepeatPassword}" name="repeatPassword"
             data-dojo-attach-point="repeatPasswordInput"
             data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props="required:true"/>
    </p>
    <p style="text-align:right">
      <button data-dojo-type="dijit/form/Button" class="alt-primary" data-dojo-attach-event="onClick:submit">
        ${dict.ResetPassword}
      </button>
    </p>
  </form>
  <p data-dojo-attach-point="messageNode"></p>
  <div data-dojo-attach-point="statusWrapper" style="display:none">
    <div data-dojo-attach-point="statusMessage"></div>
  </div>
</div>
