<div>
    <div>
        <div  class="br-baseControlNode">
            <span data-dojo-attach-point="selectorNode"></span>
            <button data-dojo-type="dijit/form/Button" data-dojo-attach-point="addButton" data-dojo-attach-event="onClick:pleaseAddItem"><i class="fa fa-plus-square"></i></button>
        </div>
        <div class="br-valueNode" data-dojo-attach-point="valueNode"></div>
    </div>
    <div data-dojo-attach-point="propertyNode" class="br-indented">
    </div>
    <div data-dojo-attach-point="propertySelectorNode" class="br-indented br-controlNode">
    </div>
</div>