<div class="br-namePane">
    <button data-dojo-type="dijit/form/Button" data-dojo-attach-point="createButton" data-dojo-attach-event="onClick:createCharacter" style="float:right">${dict.CreateCharacter}</button>
    <label style="float:right">${dict.Juju} <input data-dojo-attach-point="jujuInput" data-dojo-type="dijit/form/NumberTextBox" value="99" data-dojo-attach-event="onChange:publishJuju"/></label>
    <input data-dojo-attach-point="nameInput" data-dojo-type="dijit/form/TextBox" placeholder="${dict.CharacterName}"/>
</div>