<div>
  <div data-dojo-attach-point="titleNode" class="br-propertyTitle">${title}</div>
  <div data-dojo-attach-point="displayNode" class="br-displayContainer br-inputContainer" style="display: none">
    <div class="br-floatRight br-hideInPlay" style="width:37px;">
      <button data-dojo-attach-point="removeButton" data-dojo-type="dijit/form/Button"
              data-dojo-attach-event="onClick:pleaseRemoveItem" class="br-smallButton"><span
              class="br-stackedButtonLabel"><span class="fa-stack"><i class="fa fa-square fa-stack-2x br-red"></i><i
              class="fa fa-stack-1x fa-inverse fa-minus"></i></span></span></button>
    </div>
    <span data-dojo-attach-point="valueNode"></span>
    <i class="br-active br-gray fa fa-chevron-circle-right" data-dojo-attach-point="descriptionButton"
       data-dojo-attach-event="onClick:toggleDescription"></i>

    <div style="clear:both"></div>
  </div>
  <div data-dojo-attach-point="controlNode" class="br-controlNode br-addControl br-hideInPlay">
    <div class="br-floatRight" style="width:40px;">
      <button data-dojo-attach-point="addButton" data-dojo-type="dijit/form/Button"
              data-dojo-attach-event="onClick:pleaseAddItem" class="br-smallButton"><span
              class="br-stackedButtonLabel"><span class="fa-stack"><i class="fa fa-square fa-stack-2x br-green"></i><i
              class="fa fa-stack-1x fa-inverse fa-plus"></i></span></span></button>
    </div>
    <div class="br-floatRight br-inputContainer" style="width:calc(100% - 40px);">
      <span data-dojo-attach-point="selectorNode"></span>
    </div>
    <div style="clear:both"></div>
  </div>
  <div data-dojo-attach-point="descriptionWrapper" class="br-featureDescription">
    <div data-dojo-attach-point="descriptionNode" class="br-featureDescriptionContent">
      <div data-dojo-attach-point="descriptionWidget" data-dojo-type="dijit/form/Textarea"></div>
      <div data-dojo-attach-point="descriptionLink"></div>
    </div>
  </div>
  <div data-dojo-attach-point="childrenNode" class="br-indented">
  </div>
</div>